
body {

    color: white;
    background-color: rgb(32,32,32);
  
}

.content {
    
    text-align: center;
    width: 500px;
    border: 10px solid rgb(43, 43, 43);
    padding: 50px;
    padding-block: 0px;
    margin: auto;
    background-color: rgb(32, 32, 32);
    border-radius: 16px;

}

.Game_content {

    margin: auto;
    width: 100%;
    border: 5px solid rgb(12, 200, 217);
    padding: 7px;

}

h1 {
    font-size: 36px;
    color: white;
}

h2 {
    font-size: 28px;
    color: white;
}

h3 {
    font-size: 20px;
    color: white;
}

h4 {
    font-size: 16px;
    color: white;
}

h5 {
    font-size: 36px;
    color: white;
    background: -webkit-linear-gradient(rgb(52,250,218), rgb(168,240,142));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h6 {
    font-size: 36px;
    color: white;
    display: inline
}

@font-face {
    font-family: Alternian;
    src: url(hiveswap-alternian.ttf);
}
